/*selector unirvesal*/

*{
    margin: 0;
    padding: 0;
}


/*selector de etiqueta*/

body{
    background-color: antiquewhite;
    color: white;
}

/*selector id*/
#contenedor{
    width: 900px;
    height: 4200 px;
    background-color: darkorchid;
    margin: 10px;
    padding: 20px;
}

#encabezado{
    width: 90%;
    background-color: burlywood;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 1%;
    background-color:beige;
    margin: 1em;
    border-radius: 5px;
}

/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a:hover{
    color: brown;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    
}
/*selector de clase*/
.img{
    width: 30%;
    border-radius: 30px;
    justify-items: center;

}
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color:beige;
}
img:hover{
    width: 50%;
}
.pie{
   height: 30px;
   background-color: aqua;
   margin: 2em;
   text-align: center;
   padding: 5px;
}
.pie h4{
    padding: 2px;
    color: black;
    font-size: 20px;
}
/*cards*/
.cards{
    box-shadow: 0 4px 8px 0 rgb(245, 239, 239);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}
.cards:hover{
    max-width: 310px;
}
.cards  img{
    background-color: rgb(122, 246, 250);


}
.title{
    color: darksalmon(5,255,255);
    font-size: 20px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(121, 23, 233);
    background-color: rgb(38, 216, 15);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.scope-one-regular{
    font-family: "scope one",serif;
    font-weight: 400;
    font-style: normal;
}
.lineal{
    width: 80px;
    height: 1px;
    background-color: black;
    margin: 20px auto;
}